<%= form_for(@state) do |f| %>
  <div class="form-group">
    <%= f.label :code, "Code" %><br>
    <%= f.text_field :code, class: "form-control" %>
    <% if @state.errors.has_key?(:code) %>
      <span class="field-error"><%= @state.errors.messages[:code].join(", ") %></span>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :name, "Title" %><br>
    <%= f.text_field :name, class: "form-control" %>
    <% if @state.errors.has_key?(:name) %>
      <span class="field-error"><%= @state.errors.messages[:name].join(", ") %></span>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
