<div class="row">
  <div class="col-md-8">
    <%= form_for(@property) do |f| %>
      <div class="form-group">
        <%= f.label :title, "Title" %><br>
        <%= f.text_field :title, class: "form-control" %>
        <% if @property.errors.has_key?(:title) %>
          <span class="field-error"><%= @property.errors.messages[:title].join(", ") %></span>
        <% end %>
      </div>

      <div class="form-group">
        <%= f.label :description, "Description" %><br>
        <%= f.text_area :description, class: "form-control" %>
        <% if @property.errors.has_key?(:description) %>
          <span class="field-error"><%= @property.errors.messages[:description].join(", ") %></span>
        <% end %>
      </div>  

      <div class="form-group">
      <% if @property.photo %>
        <div>
          <%= image_tag("/uploads/#{@property.photo}", size: "600x400", alt: "Photo") %>
        </div>
      <% end %>
        <%= f.label :photo_file, "Photo" %><br>
        <%= f.file_field :photo_file, class: "form-control" %>
        <% if @property.errors.has_key?(:photo) %>
          <span class="field-error"><%= @property.errors.messages[:photo].join(", ") %></span>
        <% end %>
      </div>  

      <div class="form-group">
        <%= f.label :agent, "Agent" %><br>
        <%= f.collection_select :agent_id, @agents, :id, :full_name, { include_blank: true }, { class: "form-control" } %>    
        <% if @property.errors.has_key?(:agent) %>
          <span class="field-error"><%= @property.errors.messages[:agent].join(", ") %></span>
        <% end %>      
      </div>

      <div class="form-group">
        <%= f.label :status, "Status" %><br>
        <%= f.select :status, Property.statuses.to_a.map { |s| [s[0].humanize, s[0]] }, { include_blank: true }, { class: "form-control" } %> 
        <% if @property.errors.has_key?(:status) %>
          <span class="field-error"><%= @property.errors.messages[:status].join(", ") %></span>
        <% end %>      
      </div>  

      <div class="form-group">
        <%= f.label :price, "Price" %><br>
        <%= f.text_field :price, class: "form-control" %>
        <% if @property.errors.has_key?(:price) %>
          <span class="field-error"><%= @property.errors.messages[:price].join(", ") %></span>
        <% end %>
      </div>

      <div class="form-group">
        <%= f.label :street_number, "Street Number" %><br>
        <%= f.text_field :street_number, class: "form-control" %>
        <% if @property.errors.has_key?(:street_number) %>
          <span class="field-error"><%= @property.errors.messages[:street_number].join(", ") %></span>
        <% end %>
      </div>  

      <div class="form-group">
        <%= f.label :street_name, "Street Name" %><br>
        <%= f.text_field :street_name, class: "form-control" %>
        <% if @property.errors.has_key?(:street_name) %>
          <span class="field-error"><%= @property.errors.messages[:street_name].join(", ") %></span>
        <% end %>
      </div>

      <div class="form-group">
        <%= f.label :suite, "Suite" %><br>
        <%= f.text_field :suite, class: "form-control" %>
        <% if @property.errors.has_key?(:suite) %>
          <span class="field-error"><%= @property.errors.messages[:suite].join(", ") %></span>
        <% end %>
      </div>      

      <div class="form-group">
        <%= f.label :city, "City" %><br>
        <%= f.text_field :city, class: "form-control" %>
        <% if @property.errors.has_key?(:city) %>
          <span class="field-error"><%= @property.errors.messages[:city].join(", ") %></span>
        <% end %>
      </div>   

      <div class="form-group">
        <%= f.label :state, "State" %><br>
        <%= f.collection_select :state_id, @states, :id, :name, { include_blank: true }, { class: "form-control" } %>    
        <% if @property.errors.has_key?(:state) %>
          <span class="field-error"><%= @property.errors.messages[:state].join(", ") %></span>
        <% end %>      
      </div>

      <div class="form-group">
        <%= f.label :zipcode, "Zipcode" %><br>
        <%= f.text_field :zipcode, class: "form-control" %>
        <% if @property.errors.has_key?(:zipcode) %>
          <span class="field-error"><%= @property.errors.messages[:zipcode].join(", ") %></span>
        <% end %>
      </div> 

      <div class="form-group">
        <%= f.submit "Save", class: "btn btn-primary" %>
      </div>
    <% end %>

  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Property Leads</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
          <% if @property.new_record? %>
            <% @disable_add_customer="disabled" %>
          <% else %>
            <% @disable_add_customer=nil %>
          <% end%>
          <%= form_tag("#{@property.id}/add_customer", method: :post) do %>
            <div class="form-group">
            <%= select_tag(:customer, options_for_select(@customers), include_blank: true, class: "form-control", id: "select-customer", disabled: @disable_add_customer) %> 
            </div>
            <div class="form-group">
            <%= submit_tag("Add customer", class: "btn btn-primary", disabled: "disabled", id: "btn-add-customer", "data-toggle": "tooltip", "data-placement": "bottom", title: "Select a customer to add it") %>
            </div> 
          <% end %>          
          </div>
        </div>      
        <table class="table">
          <tr>
            <td>John Wayne</td>
            <td>Test</td>
          </tr>
          <tr>
            <td>Jane Fonda</td>
            <td>Test</td>
          </tr>          
        </table>
      </div>
    </div>    
  </div>
</div>
